@media only screen and (max-width: 1440px) {
    #home {
        padding-bottom: 200px;
        .home-top {
            h1 {
                font-size: 75px;
            }
        }
        .home-content {
            .slider-book {
                #number {
                    font-size: 55px;
                }
                .slider-hide {
                    p {
                        font-size: 27px;
                    }
                }
                .slider-middle {
                    p {
                        width: 650px;
                        font-size: 18px;
                        padding: 20px 30px;
                    }
                }
            }
        }
    }
    #new-releases {
        .new-releases-top {
            margin: 60px 0px;
            h1 {
                font-size: 65px;
            }
        }
    }
    #featured-books {
        .featured-books-content {
            padding: 120px 0px;
            .featured-text {
                width: 700px;
                h1 {
                    font-size: 70px;
                }
            }
        }
        .number {
            margin-top: -380px;
            span {
                font-size: 350px;
            }
        }
    }
    #how-we-started {
        .how-we-started-top {
            padding: 110px 0px;
            p {
                font-size: 27px;
            }
            p:last-of-type {
                font-size: 20px;
                width: 600px;
                margin: auto;
                text-align: center;
            }
            h1 {
                font-size: 60px;
                width: 600px;
            }
            .how-we-started-button {
                top: 80px;
            }
        }
    }
    #most-popular {
        padding: 150px 0px;
        .most-popular-content {
            .most-text {
                width: 600px;
                h1 {
                    font-size: 65px;
                }
            }
        }
        .most-book {
            .most-doublebook {
                margin-left: 120px;
            }
        }
    }
    #itsout {
        .itsout-border {
            margin: 90px 0px;
            .itsout-number {
                span {
                    font-size: 80px;
                }
            }
            .itsout-content {
                .col-lg-6 {
                    h1 {
                        font-size: 70px;
                    }
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
        .itsout-cards {
            .itsout-cards-content {
                .itsout-cards-content-numbers {
                    p {
                        font-size: 65px;
                    }
                }
                .itsout-cards-content-text {
                    .itsout-cards-content-words {
                        padding: 0px 50px;
                    }
                }
            }
        }
    }
    #contact {
        h1 {
            font-size: 70px;
        }
    }
}

@media only screen and (max-width: 1240px) {
    #home {
        padding-bottom: 150px;
        .home-top {
            h1 {
                font-size: 68px;
            }
        }
        .home-content {
            .slider-book {
                #number {
                    font-size: 50px;
                }
                .slider-hide {
                    p {
                        font-size: 25px;
                    }
                }
                .slider-middle {
                    p {
                        width: 650px;
                        font-size: 18px;
                        padding: 20px 30px;
                    }
                }
            }
        }
    }
    #new-releases {
        .new-releases-top {
            h1 {
                font-size: 65px;
            }
        }
    }
    #featured-books {
        .featured-books-content {
            .featured-text {
                h1 {
                    font-size: 65px;
                }
            }
        }
        .number {
            margin-top: -330px;
            span {
                font-size: 320px;
            }
        }
    }
    #how-we-started {
        .how-we-started {
            h1 {
                font-size: 60px;
            }
            p {
                font-size: 28px;
            }
            p:last-of-type {
                width: 580px;
                font-size: 25px;
            }
        }
    }
    #most-popular {
        padding: 150px 0px;
        .most-text {
            width: 600px;
            h1 {
                font-size: 60px;
            }
        }
    }
    #itsout {
        .itsout-border {
            .itsout-number {
                span {
                    font-size: 70px;
                }
            }
            .itsout-content {
                .col-lg-6 {
                    h1 {
                        font-size: 60px;
                    }
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
        .itsout-cards {
            .itsout-cards-content {
                .itsout-cards-content-numbers {
                    p {
                        margin-top: 30px;
                        font-size: 55px;
                    }
                }
                .itsout-cards-content-text {
                    .itsout-cards-content-words {
                        padding: 20px 50px;
                    }
                }
            }
        }
    }
    #contact {
        padding: 150px 0px;
        h1 {
            font-size: 55px;
        }
    }
}

@media only screen and (max-width: 1140px) {
    #home {
        padding-bottom: 100px;
        .home-top {
            h1 {
                font-size: 60px;
            }
        }
        .home-content {
            .slider-book {
                #number {
                    font-size: 45px;
                }
                .slider-hide {
                    p {
                        font-size: 22px;
                    }
                }
                .slider-middle {
                    p {
                        width: 600px;
                        font-size: 18px;
                        padding: 20px 50px;
                    }
                }
            }
        }
    }
    #new-releases {
        .new-releases-top {
            h1 {
                font-size: 60px;
            }
        }
    }
    #featured-books {
        .featured-books-content {
            .featured-text {
                h1 {
                    font-size: 60px;
                }
            }
        }
        .number {
            margin-top: -300px;
            span {
                font-size: 280px;
            }
        }
    }
    #books {
        .books-content {
            .books-border {
                .books-content-top {
                    p {
                        font-size: 15px;
                    }
                    h4 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    #how-we-started {
        .how-we-started-top {
            padding: 70px 0px;
            h1 {
                font-size: 55px;
            }
            p {
                font-size: 25px;
            }
            p:last-of-type {
                width: 580px;
                font-size: 20px;
            }
            .how-we-started-button {
                position: relative;
                top: 50px;
                a {
                    color: #fff7e4;
                    i {
                        font-size: 30px;
                    }
                }
            }
        }
    }
    #most-popular {
        padding: 120px 0px;
        .most-popular-content {
            .most-text {
                width: 500px;
                h1 {
                    font-size: 50px;
                }
            }
        }
    }
    #itsout {
        .itsout-border {
            .itsout-number {
                span {
                    font-size: 60px;
                }
            }
            .itsout-content {
                .col-lg-6 {
                    h1 {
                        font-size: 55px;
                    }
                }
            }
        }
        .itsout-cards {
            .itsout-cards-content {
                margin: 20px 20px 15px 20px;
                .itsout-cards-content-numbers {
                    p {
                        margin-top: 2px;
                        margin-right: 30px;
                        font-size: 50px;
                    }
                }
            }
        }
    }
    footer {
        input[type=text] {
            width: 250px;
        }
    }
}

@media only screen and (max-width: 998px) {
    #home {
        padding-top: 40px;
        padding-bottom: 0px;
        .home-top {
            h1 {
                font-size: 48px;
            }
        }
        .home-content {
            .slider-book {
                #number {
                    font-size: 35px;
                }
                .slider-hide {
                    p {
                        font-size: 20px;
                    }
                }
                .slider-middle {
                    p {
                        width: 400px;
                        font-size: 16px;
                        padding: 20px 50px;
                    }
                }
            }
        }
        .sliderbutton {
            top: -350px;
        }
    }
    #new-releases {
        .new-releases-top {
            h1 {
                font-size: 48px;
            }
        }
    }
    #featured-books {
        .featured-books-content {
            padding: 100px 0px;
            .featured-text {
                h1 {
                    font-size: 48px;
                }
            }
        }
        .number {
            margin-top: -300px;
            span {
                font-size: 280px;
            }
        }
    }
    #how-we-started {
        .how-we-started-top {
            padding: 20px 0px;
            h1 {
                font-size: 40px;
                padding: 0px 50px;
            }
            p {
                font-size: 20px;
            }
            p:last-of-type {
                width: 400px;
                font-size: 18px;
            }
            .how-we-started-button {
                position: relative;
                top: 10px;
                a {
                    color: #fff7e4;
                    i {
                        font-size: 30px;
                    }
                }
            }
        }
    }
    #most-popular {
        padding: 50px 0px;
        .most-popular-content {
            .most-text {
                width: 400px;
                margin-right: 20px;
                h5 {
                    font-size: 20px;
                }
                h1 {
                    font-size: 35px;
                }
            }
            .most-book {
                img {
                    width: 50%;
                    height: auto;
                }
            }
        }
    }
    #itsout {
        .itsout-border {
            margin: 10px;
            .itsout-number {
                span {
                    font-size: 48px;
                }
            }
            .itsout-content {
                padding: 30px 30px 30px 30px;
                img {
                    width: 50%;
                    height: auto;
                }
                .col-lg-6 {
                    h1 {
                        font-size: 40px;
                        text-align: center;
                        margin: auto;
                    }
                    p {
                        text-align: center;
                        margin: auto;
                    }
                    .btn-pink {
                        margin: auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    footer {
        margin: auto;
        text-align: center;
        h5 {
            text-align: center;
            margin: auto;
            padding: 20px 0px;
        }
        ul {
            text-align: center;
            margin: auto;
            li {
                text-align: center;
                margin: auto;
                a {
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 20px;
        .menu {
            .menu-left {
                .dropdown {
                    button {
                        font-size: 20px;
                    }
                    .dropdown-menu {
                        width: 300px;
                        a {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    #home {
        padding-top: 30px;
        padding-bottom: 0px;
        .home-top {
            h1 {
                font-size: 40px;
            }
        }
        .home-content {
            .slider-book {
                #number {
                    font-size: 30px;
                }
                .slider-hide {
                    p {
                        font-size: 18px;
                    }
                    .stars {
                        i {
                            margin: 2px;
                        }
                    }
                }
                .slider-middle {
                    p {
                        text-align: center;
                        margin: auto;
                        width: 300px;
                        font-size: 14px;
                        padding: 10px 0px;
                    }
                }
            }
        }
        .sliderbutton {
            top: -300px;
        }
    }
    #new-releases {
        .new-releases-top {
            h1 {
                font-size: 35px;
            }
            p {
                width: 250px;
            }
        }
    }
    #featured-books {
        .featured-books-content {
            padding: 50px 0px;
            .featured-text {
                width: 300px;
                h1 {
                    font-size: 35px;
                }
                p {
                    margin: 5px;
                }
            }
        }
        .number {
            margin-top: -220px;
            margin-left: -70px;
            span {
                font-size: 200px;
            }
        }
    }
    #how-we-started {
        .how-we-started-top {
            padding: 20px 0px;
            h1 {
                width: 350px;
                font-size: 30px;
                padding: 0px 0px;
            }
            p {
                font-size: 20px;
            }
            p:last-of-type {
                width: 350px;
                font-size: 18px;
            }
        }
    }
    #most-popular {
        padding: 50px 0px;
        .most-popular-content {
            .most-text {
                width: 300px;
                margin-right: 20px;
                h5 {
                    font-size: 20px;
                }
                h1 {
                    font-size: 35px;
                }
            }
            .most-book {
                display: none;
                img {
                    width: 50%;
                    height: auto;
                }
            }
        }
    }
    #itsout {
        .itsout-border {
            margin: 10px;
            .itsout-number {
                span {
                    font-size: 35px;
                }
            }
            .itsout-content {
                padding: 20px;
                img {
                    width: 50%;
                    height: auto;
                }
                .col-lg-6 {
                    h1 {
                        font-size: 35px;
                        text-align: center;
                        margin: auto;
                    }
                    p {
                        font-size: 18px;
                        text-align: center;
                        margin: auto;
                    }
                    .btn-pink {
                        margin: auto;
                        text-align: center;
                    }
                }
            }
        }
        .itsout-cards {
            .itsout-cards-content {
                .itsout-cards-content-numbers {
                    p {
                        font-size: 45px;
                    }
                }
            }
        }
    }
    #contact {
        padding: 100px 0px;
        h1 {
            font-size: 35px;
        }
        .buttons {
            .btn-whitebig {
                padding: 10px 50px;
            }
        }
    }
}

@media only screen and (max-width: 568px) {
    header {
        padding: 20px;
        .menu {
            .menu-left {
                .dropdown {
                    button {
                        font-size: 20px;
                    }
                    .dropdown-menu {
                        width: 200px;
                        a {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
    #home {
        padding-top: 30px;
        padding-bottom: 0px;
        .home-top {
            h1 {
                font-size: 35px;
            }
        }
        .home-content {
            .slider-book {
                #number {
                    font-size: 30px;
                }
                .slider-hide {
                    p {
                        font-size: 15px;
                    }
                    .stars {
                        i {
                            margin: 2px;
                        }
                    }
                }
                .slider-middle {
                    p {
                        text-align: center;
                        margin: auto;
                        width: 200px;
                        font-size: 12px;
                        padding: 10px 0px;
                    }
                }
            }
        }
        .sliderbutton {
            display: none;
        }
    }
    #new-releases {
        .new-releases-top {
            h1 {
                font-size: 30px;
            }
            p {
                width: 200px;
                font-size: 15px;
            }
        }
    }
    #featured-books {
        .featured-books-content {
            padding: 20px 0px;
            .featured-images {
                img {
                    display: none;
                }
            }
            .featured-text {
                margin: auto;
                text-align: center;
                padding: 0;
                h1 {
                    font-size: 30px;
                }
                p {
                    margin: 5px;
                }
                .btn-soft {
                    margin: auto;
                    text-align: center;
                }
            }
        }
        .number {
            margin-top: -110px;
            margin-left: -60px;
            span {
                font-size: 100px;
            }
        }
    }
    #how-we-started {
        padding: 0;
        margin: 0;
        .how-we-started-top {
            margin: 0;
            padding: 20px 0px;
            h1 {
                width: 100%;
                font-size: 30px;
                padding: 0px 0px;
            }
            p {
                font-size: 15px;
            }
            p:last-of-type {
                width: 100%;
                font-size: 15px;
            }
        }
    }
    #most-popular {
        padding: 50px 0px;
        .most-popular-content {
            padding: 0;
            margin: 0;
            .most-text {
                padding: 0;
                margin: 0;
                width: 100%;
                margin-right: 0px;
                h5 {
                    padding: 0;
                    margin: 0;
                    font-size: 20px;
                }
                h1 {
                    padding: 0;
                    margin: 0;
                    font-size: 35px;
                }
            }
            .most-book {
                display: none;
                img {
                    width: 50%;
                    height: auto;
                }
            }
        }
    }
    #itsout {
        .itsout-border {
            margin: 10px;
            .itsout-number {
                span {
                    font-size: 30px;
                }
            }
            .itsout-content {
                padding: 20px;
                img {
                    width: 50%;
                    height: auto;
                }
                .col-lg-6 {
                    h1 {
                        font-size: 30px;
                        text-align: center;
                        margin: auto;
                    }
                    p {
                        font-size: 15px;
                        text-align: center;
                        margin: auto;
                    }
                    .btn-pink {
                        margin: auto;
                        text-align: center;
                    }
                }
            }
        }
        .itsout-cards {
            .itsout-cards-content {
                .itsout-cards-content-numbers {
                    p {
                        font-size: 40px;
                    }
                }
                .itsout-cards-content-text {
                    .itsout-cards-content-words {
                        padding: 0px 5px;
                    }
                }
            }
        }
    }
    #contact {
        padding: 50px 0px;
        h1 {
            font-size: 30px;
        }
        .buttons {
            .btn-whitebig {
                padding: 10px 50px;
            }
        }
    }
}